<div *ngIf="!showNextPointMessage">
  <app-compass *ngIf="!displayCamera"></app-compass>

  <div *ngIf="displayCamera" class="camera">
    <zxing-scanner (scanSuccess)="scanSuccess($event)"></zxing-scanner>
  </div>

  <div class="camera-button">
    <button mat-fab color="primary" type="button" (click)="toggleCamera()">
      <mat-icon>{{!displayCamera ? 'photo_camera' : 'hide_source'}}</mat-icon>
    </button>
  </div>

</div>
<div *ngIf="showNextPointMessage" class="congrats">
  <h1>Congratulations!</h1>
  <h1>Now</h1>
  <h1>Find The Next Clue...</h1>
</div>
